* { margin: 0px; padding: 0px; }
h1 { font: bold 30px verdana, sans-serif; } 
h2 { font: 24px verdana, sans-serif; }
h5 { font: 15px verdana, sans-serif; }

hgroup{ display: block; }

a {
    text-decoration-line: none;
    color: #000000;
  }

#wrapper { 
width: 960px; 
margin: 15px auto; 
text-align: left; 
}

#main_header { 
background: #FFFBB9; 
border: 1px solid #999999; 
padding: 20px; 
}

#main_menu { background: #CCCCCC; padding: 5px 15px; }
#main_menu li { 
display: inline-block; 
list-style: none; 
padding: 5px; 
font: bold 14px verdana, sans-serif; 
}

#main_section {float: center; padding: 5px 15px; margin: 
20px; }

#main_footer { clear: both; text-align: center; 
padding: 20px; border-top: 2px solid #999999; font-size: 11px;}

article { background: #FFFBCC; border: 1px solid 
#999999; padding: 20px; margin-bottom: 15px; }

article footer { text-align: right; } 
time { color: #999999; } 
figcaption { font: italic 14px verdana, sans-serif; }
div { 
width: 100px; 
margin: 20px;
padding: 10px; 
border: 1px solid #000000; 
-chrome-box-sizing: border-box; 
-webkit-box-sizing: border-box; box-sizing: border-box; 
}
